<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>教师页面</title>
    <style type="text/css" media="screen">
        .div1 {
            text-align: center;
            font-size: 1.75rem
        }

        #editor {
            width: 100%;
            padding-bottom: 35%;
        }
    </style>

</head>
<body>

<div id="app">
    <br>
    <hr>
    <div class="div1">
        <h3>请在下方查看学生编辑的代码</h3>
    </div>
    <hr>
    <br>
    <form>
        <select style="font-size: 30px; width: 200px "nge v-model="language" v-on:change="changeLanguage()">
            <option>Cpp</option>
            <option>Java</option>
        </select>
    </form>
    <p style="font-size: 30px ;width: 200px; position:relative;left:230px;top: -70px">请选择频道：</p>
    <form>
        <select style="font-size: 30px ;width: 200px; position:relative;left:420px;top: -143px" v-model="channel" v-on:change="changeChannel()">
            <option>channel1</option>
            <option>channel2</option>
            <option>channel3</option>
        </select>
    </form>
</div>
<div id="editor" style="min-height:600px">
    <textarea style="width: 100%; height: 500px"></textarea>
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/ace/1.2.9/ace.js" type="text/javascript" charset="UTF-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://cdn.goeasy.io/goeasy-1.0.3.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        data: {
        language:"JAVA",
        channel:"channel"
        },
        methods:{
            init() {
                //定义一个ace全局变量
                Vue.prototype.$editor = ace.edit("editor"),
                this.$editor.setOptions({
                    enableLiveAutocompletion: true
                });
                this.$editor.setTheme("ace/theme/idle_fingers");
                this.$editor.session.setMode("ace/mode/java");
                document.getElementById('editor').style.fontSize='30px';
                this.$editor.setValue("//请在这里编辑您的代码"); 
                this.loadConfig()
                this.$editor.getSession().selection.clearSelection();


                //定义一个goeasy全局变量
                Vue.prototype.$goEasy = new GoEasy({
                  host: "hangzhou.goeasy.io",
                  appkey: "BS-d3f8cede1a9e41dbb65d52cb9b74000f",
                  onConnected: function() {
                    console.log('连接成功！')
                    
                  },
                  onDisconnected: function() {
                    console.log('连接断开！')
                    alert("连接已断开!")
                  },
                  onConnectFailed: function(error) {
                    console.log('连接失败或错误！')
                    alert("连接失败!")
                  }
                });

                this.$goEasy.subscribe({
                  channel:"channel",//替换为您自己的channel
                  onMessage: function (message) {
                    console.log("Channel:" + message.channel + " content:" + message.content);
                    var data = JSON.parse(message.content);
                    Vue.prototype.$editor.setValue(data.code);
                    Vue.prototype.$editor.getSession().selection.clearSelection();
                    Vue.prototype.$editor.moveCursorToPosition(data.cursor);
                  }
                });
            },

            changeChannel() {
                this.$goEasy.unsubscribe({
                    channel: this.channel,
                    onSuccess: function () {
                        console.log("订阅取消成功。");
                    },
                    onFailed: function (error) {
                        console.log("取消订阅失败，错误编码：" + error.code + " 错误信息：" + error.content)
                    }
                });
                Vue.prototype.$goEasy.subscribe({
                    channel: this.channel,//替换为您自己的channel
                    onMessage: function (message) {
                        console.log("Channel:" + message.channel + " content:" + message.content);
                        var data = JSON.parse(message.content);
                        Vue.prototype.$editor.setValue(data.code);
                        Vue.prototype.$editor.getSession().selection.clearSelection();
                        Vue.prototype.$editor.moveCursorToPosition(data.cursor);
                    }
                });
            },
            
            changeLanguage() {
                if (this.language == "Java") {
                    Vue.prototype.$editor.session.setMode("ace/mode/java");
                } else if (this.language == "Cpp") {
                    Vue.prototype.$editor.session.setMode("ace/mode/c_cpp");
                }
                localStorage.setItem("language", this.language);
            },

            loadConfig() {
            var language = localStorage.getItem("language");
            if (language == null) {
                return;
            }
            this.language = language;
            this.changeLanguage();
            }
        }   
    }) 
app.init()
</script>
</body>
</html>